absl-py==2.1.0
accelerate==0.28.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
argcomplete==3.2.3
arxiv==2.1.0
astunparse==1.6.3
attrs==23.2.0
black==24.3.0
blinker==1.7.0
blis==0.7.11
catalogue==2.0.10
certifi==2024.2.2
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
colorlog==6.8.2
confection==0.1.4
configobj==5.0.8
configparser==6.0.1
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
datasets==2.18.0
dill==0.3.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
etelemetry==0.3.1
evaluate==0.4.1
feedparser==6.0.10
filelock==3.13.1
Flask==3.0.2
flatbuffers==24.3.7
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gensim==4.3.2
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.62.1
h5py==3.10.0
httplib2==0.22.0
huggingface-hub==0.21.4
idna==3.6
imbalanced-learn==0.12.0
imblearn==0.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
keras==3.1.1
keras-nightly==3.2.0.dev2024032203
keras-nlp==0.0.2
kiwisolver==1.4.5
langcodes==3.3.0
libclang==18.1.1
looseversion==1.3.0
lxml==5.1.0
Mako==1.3.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mkdir==2020.12.3
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.7
networkx==3.2.1
nibabel==5.2.1
nipype==1.8.6
nltk==3.8.1
numpy==1.26.4
opt-einsum==3.3.0
optree==0.10.0
optuna==3.6.0
orderdict==2020.12.3
packaging==24.0
pandas==2.2.1
pathlib==1.0.1
pathspec==0.12.1
pillow==10.2.0
pipx==1.4.3
platformdirs==4.2.0
preshed==3.0.9
protobuf==4.25.3
prov==2.0.0
psutil==5.9.8
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycurl==7.45.3
pydantic==2.6.4
pydantic_core==2.16.3
pydot==2.0.0
Pygments==2.17.2
PyMuPDF==1.23.26
PyMuPDFb==1.23.22
pyparsing==3.1.2
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.1
rdflib==7.0.0
regex==2023.12.25
requests==2.31.0
responses==0.18.0
rich==13.7.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sentence-transformers==2.5.1
sentencepiece==0.2.0
setupcfg==2020.12.3
setuppy-generator==2020.12.2
sgmllib3k==1.0.0
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.28
srsly==2.4.8
sympy==1.12
tb-nightly==2.17.0a20240322
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
textblob==0.18.0.post0
tf-nightly==2.17.0.dev20240321
tf_nightly_intel==2.17.0.dev20240321
thinc==8.2.3
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
tqdm==4.66.2
traits==6.3.2
transformers==4.39.1
typer==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
userpath==1.9.2
values==2020.12.3
wasabi==1.1.2
watchdog==4.0.0
weasel==0.3.4
Werkzeug==3.0.1
wrapt==1.16.0
write==2020.12.3
xxhash==3.4.1
yarl==1.9.4